<div class="login-dark" style="background-image: url(&quot;assets/img/backgrounds/form-bg.jpg&quot;);">
    <form [formGroup]="ApartForm" method="post" style="background-color: rgba(255,255,255,0.9);">
        <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;">Registrar<br>Departamento</h2>
        <div class="form-group">
            <select class="form-control form-control-sm" style="color: rgb(0,0,0);">
                <option value="1" selected="">Tipo</option>
                <option value="2">Duplex</option>
                <option value="3">Estudio</option>
                <option value="4">Flat</option>
                <option value="5">Loft</option>
                <option value="6">Mixto</option>
                <option value="7">Penthouse</option>
                <option value="8">Tradicional</option>
                <option value="9">Mixto</option>
            </select></div>
        <div
            class="form-group"><input class="form-control" type="text" name="name" placeholder="Nombre" autocomplete="off" style="color: rgb(0,0,0);">
            </div>
<div class="form-group"><input class="form-control" type="number" placeholder="Área en m²" style="color: rgb(0,0,0);">
    </div>
<div class="form-group"><input class="form-control" type="number" placeholder="Piso" style="color: rgb(0,0,0);">
   </div>
<div class="form-group text-center"><button class="btn btn-primary" type="submit" style="background-color: #ffa555;font-weight: normal;">Registrar</button>
</div>
</form>
</div>