<header *ngIf="project[0]!=null"class="masthead" style="background-image: url('{(project[0].image)}');">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase"><span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">ProYECTO<br>ADINA</span></div><a class="btn btn-primary border-dark btn-xl text-uppercase js-scroll-trigger" role="button" href="#portfolio" style="background-color: rgb(255,165,85);border:none;">NUESTROS<br>DEPARTAMENTOS</a></div>
    </div>
</header>