<div class="container" style="padding-top:120px;">
    <h3>Equipo</h3>
    
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, illum asperiores. Repudiandae neque, laudantium sequi ea voluptates distinctio aliquid minima architecto odit sunt provident totam voluptatem magni iure id. Necessitatibus.
  
    <div class="row">
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                </div><img class="img-fluid" src="assets/img/proyects/proyect-Adina.jpg"></a>
            <div class="portfolio-caption">
                <h4>Alumno 1</h4>
                
            </div>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                </div><img class="img-fluid" src="assets/img/proyects/proyect-Boulogne.jpg"></a>
            <div class="portfolio-caption">
                <h4>Alumno 2</h4>
                
            </div>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                </div><img class="img-fluid" src="assets/img/proyects/proyect-Collins.jpg"></a>
            <div class="portfolio-caption">
                <h4>Alumno 3</h4>
                
            </div>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                </div><img class="img-fluid" src="assets/img/proyects/proyect-PacificHighway.jpg"></a>
            <div class="portfolio-caption">
                <h4>Pacific Highway</h4>
                
            </div>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                </div><img class="img-fluid img-fluid" src="assets/img/proyects/proyect-Thomas.jpg"></a>
            <div class="portfolio-caption">
                <h4>Thomas</h4>
               
            </div>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                </div><img class="img-fluid" src="assets/img/proyects/proyect-Timber.jpg"></a>
            <div class="portfolio-caption">
                <h4>Timber</h4>
               
            </div>
        </div>
    </div>
</div>
